################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Labs-DS8/FileContentIndex/8b9bea2b-46ba-44eb-a23f-85aa115d7ace.vsidx
/lab3/.vs/lab3/FileContentIndex/0a9da993-12c0-4993-a3e9-07e9f8d07db0.vsidx
/lab3/.vs/lab3/FileContentIndex/8b9bea2b-46ba-44eb-a23f-85aa115d7ace.vsidx
/.vs/slnx.sqlite
*.vsidx
